body {
  background-color: beige
}


* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 45%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 2.5%;
  background-color: #ccccbb;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  
  background-color: #9ca2a3;
  padding-top: 20px;
  
  width: 60%;
  /* margin: auto; */

  text-align: center;
  
}
.navbar-container {
 
  width: 60%;
  background-color: #666677;
  display: inline-block;
  /* margin-top: 50px; */
  margin-left:20%;
  

}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
  }

/* .navbar-nav.mr-auto.justify-content-lg-center ul{
  background-color: blue;
}
.navbar.navbar-expand-lg.navbar-dark a{
  background-color: blue;
}
.collapse.navbar-collapse{
background-color: blue;

} */
/* #navbarSupportedContent{
background-color: red; */

}
}