body {
  padding-top: 5rem;
  /* background-color: aquamarine; */
  background: linear-gradient(rgb(36, 138, 124) 10%, rgb(88, 223, 182) 40%,lightblue 70%, aquamarine 85%,
  rgb(36, 138, 124));
  
}
.starter-template {
  padding: 3rem 1.5rem 5em;
  text-align: center;
}
